<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login" method="post">
      <input
        type="text"
        placeholder="Enter Your username"
        name="username"
        id=""
      />
      <input
        type="password"
        placeholder="Enter Your password"
        name="password"
      />
      <button type="submit">Login</button>
      <button>
        <style>
          a {
            text-decoration: none;
            color: black;
          }
        </style>
        <a href="/register">Register</a>
      </button>
    </form>
  </body>
</html>
