<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Hisab</title>
  </head>
  <body>
    <H1><center>Welcome <%=user.name%></center></H1>
    <form action="/add/<%=user.username%>" method="post">
      <div class="title">
        <input type="text" name="title" placeholder="enter your title" id="" />
      </div>

      <textarea name="textarea" id="" rows="10" cols="30"></textarea>
      <div>
        <button type="submit">Create New Hisab</button>
      </div>
    </form>
  </body>
</html>
