<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/view.css" />
  </head>
  <body>
    <div class="head">
      <div class="leftlogo">
        <div class="logof"><a id="homelink2" href="/">Khatabook</a></div>
      </div>
      <div class="right">
        <div class="home"><a id="homelink" href="/">home</a></div>
        <div class="create">
          <a id="homelink" href="/create/new">Create New Hisaab</a>
        </div>
      </div>
    </div>

    <%function removeTxtExtension(filename) { %> <%if
    (filename.endsWith('.txt')) { %> <% return filename.slice(0, -4); %> <% } %>
    <% return filename %> <% } %> <% const newFilename =
    removeTxtExtension(filename) %>

    <div class="middle">
      Hisab of &nbsp; <span id="newfilename"><%=newFilename%> </span>&nbsp; date
    </div>
    <div class="forms"><%=data%></div>
    <div class="edit">
      <a id="editfile" href="/edit/<%=filename%>"
        ><i class="fa-solid fa-pen-to-square"></i>Edit Hisaab</a
      >
    </div>
  </body>
</html>
