* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

/* header----------------- */
.head {
  width: 100%;
  height: 10vh;
  border: 2px solid rgba(255, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftlogo {
  width: 20vw;
  height: 9vh;
  border: 2px solid rgba(255, 0, 0, 0);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.8vw;
}

.right {
  width: 30vw;
  height: 8vh;
  border: 2px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  font-weight: bold;
}

#homelink {
  text-decoration: none;
  color: black;
  font-size: 1.3vw;
}

#homelink2 {
  text-decoration: none;
  color: black;
  font-size: 2vw;
}

/* Body Form */
.body_form {
  width: 40%;
  height: 60vh;
  border: 2px solid rgba(255, 0, 0, 0);
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.form {
  width: 100%;
  padding: 0 20px;
  height: 60vh;
  border: 2px solid rgba(255, 0, 0, 0);
  display: flex;
  flex-direction: column;
}

#title,
#textarea {
  width: calc(100% - 40px);
  padding: 10px;
  font-size: larger;
  border: none;
  background-color: rgba(213, 210, 210, 0.597);
  margin: 10px;
  border-radius: 5px;
}

#textarea {
  resize: none;
}

.btn2 {
  width: 10vw;
  height: 5vh;
  margin: 10px 0;
  border: none;
  background-color: rgba(0, 133, 255, 255);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.heading {
  font-weight: bold;
  font-size: larger;
  margin: 10px 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .body_form {
    width: 80%;
    height: auto;
  }

  .form {
    height: auto;
  }

  #title,
  #textarea {
    width: calc(100% - 40px);
  }

  .btn2 {
    width: 20vw;
  }

  .heading {
    font-size: medium;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .body_form {
    width: 90%;
    height: auto;
  }

  .form {
    padding: 0 10px;
  }

  #title,
  #textarea {
    width: calc(100% - 20px);
  }

  .btn2 {
    width: 30vw;
  }

  .heading {
    font-size: small;
    margin: 5px;
  }
}
