<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       
    <h1>Your Profile Details is ---------</h1>
    <HR></HR><HR></HR>
    <h3>Your id:-- <%= data.id  %></h3>
    <h3>Your Name:-- <%= data.name %></h3>
    <h3>Your Number:-- <%= data.number %></h3>

    
</body>
</html>